<main class="h-screen flex bg-yellow-100/50 items-center justify-center">
  <main-content>
    <div>
      <p class="mb-2 font-semibold text-gray-500">Moeda</p>
      <div class="flex gap-4 items-center">
        <div class="flex gap-2">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/2000px-Flag_of_Brazil.svg.png"
            alt=""
            width="50"
            class="rounded-[50%]"
          />
          <select
            name=""
            id=""
            (change)="setPrimeiraSigla($event)"
            class="bg-transparent border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5"
          >
            <option selected disabled>Selecione...</option>
            @for (item of siglas; track item.indexOf) {
            <option [value]="item">{{ item }}</option>
            }
          </select>
        </div>
        <input
          type="number"
          class="w-32 text-sm rounded-lg p-2.5 bg-gray-200 text-black font-semibold text-end"
          placeholder="0.00"
          min="0"
          [(ngModel)]="inputPrimeiraSigla"
        />
      </div>
    </div>
    <div class="h-[1px] my-8 w-full bg-gray-300"></div>
    <div>
      <p class="mb-2 font-semibold text-gray-500">Convesao</p>
      <div class="flex gap-4 items-center">
        <div class="flex gap-2">
          <img
            src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg"
            alt=""
            width="50"
            class="rounded-[50%]"
          />
          <select
            name=""
            id=""
            (change)="setSegundaSigla($event)"
            class="bg-transparent border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5"
          >
            <option selected disabled>Selecione...</option>
            @for (item of siglas; track item.indexOf) {
            <option [value]="item">{{ item }}</option>
            }
          </select>
        </div>
        <input
          type="number"
          class="w-32 text-sm rounded-lg p-2.5 bg-gray-200 text-black font-semibold text-end"
          placeholder="0.00"
          min="0"
          disabled
          [value]="resultado"
        />
      </div>
    </div>
    <button
      class="mt-4 px-8 py-2 w-full bg-blue-500 rounded-2xl uppercase font-semibold text-white"
      (click)="realizarConversao()"
    >
      converter
    </button>
    <div class="h-[1px] my-8 w-full bg-gray-300"></div>
    <div>
      <h3 class="font-semibold">1 BRL = 0,18 USD</h3>
    </div>
  </main-content>
</main>
